<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>HackTUES - Admin Panel</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
        <style>
            body {
                padding: 0;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <% include ../partials/navigation.ejs %>
            <h1>YOU ARE AN ADMIN1!!!!!!111!11!</h1>
            <div id="users">
                <button onclick="usersModule.getAllUsers()">Get all users</button>
            </div>


            <div id="users-list-container">
            </div>
            <div id="create-page">
                <% include partials/create-page.ejs %>
            </div>
            <div id="create-news">
                <% include partials/create-news.ejs %>
            </div>

        </div>

        <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script>
            <%=ckeditor %>
        </script>
        <script type="text/javascript">
        <% include ../../app/libs/ejs_production.js %> //not sure if i will use it, but epic nonetheless
        </script>
        <script src="//cdn.ckeditor.com/4.5.3/full/ckeditor.js"></script>
        <script type="text/javascript">
            var UsersModule = (function ($) {
                var usersModule = {};
                //skipping constructors and such, because we don't need them
                usersModule.getAllUsers = function () {
                    $('#users-list-container').html('Loading users...');
                    $.ajax({
                        url: 'getAllUsers',
                        type: 'GET',
                    })
                    .done(function(users) {
                        $('#users-list-container').html(users);
                    })
                    .fail(function() {
                        $('#users-list-container').css('color', 'red');
                        $('#users-list-container').html('Could not get users...');
                    });
                }

                return usersModule;
            }(jQuery));

            var usersModule = UsersModule;

            CKEDITOR.entities = false;
            CKEDITOR.replace( 'page-body', {
                on: {
                    instanceReady: function( ev ) {
                        // Output paragraphs as <p>Text</p>.
                        this.dataProcessor.writer.setRules( 'p', {
                            indent: false,
                            breakBeforeOpen: true,
                            breakAfterOpen: false,
                            breakBeforeClose: false,
                            breakAfterClose: true
                        });
                    }
                }
            });

            CKEDITOR.entities = false;
            CKEDITOR.replace( 'news-content', {
                on: {
                    instanceReady: function( ev ) {
                        // Output paragraphs as <p>Text</p>.
                        this.dataProcessor.writer.setRules( 'p', {
                            indent: false,
                            breakBeforeOpen: true,
                            breakAfterOpen: false,
                            breakBeforeClose: false,
                            breakAfterClose: true
                        });
                    }
                }
            });
            function createPage() {
                var pageName = $('#page-name').val();

                var page = {
                    name: $('#page-name').val(),
                    href: $('#page-href').val(),
                    body: $('#page-body').val(),
                    nav: $('#page-nav')[0].checked
                };

                $.ajax({
                    url: '/epic/createPage/',
                    type: 'POST',
                    dataType: 'json',
                    data: page
                })
                .done(function() {
                    console.log("success");
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
            }

            function createNews() {
                var date = new Date(year, month, day, hours, minutes);
                var news = {
                    name: $('#news-name').val(),
                    content: $('#news-content').val(),
                    published: date
                }

                $.ajax({
                    url: 'createNews',
                    type: 'POST',
                    data: news
                })
                .done(function() {
                    alert('success');
                })
                .fail(function() {
                    alert("error");
                });

            }
        </script>
    </body>
</html>
