<div id="team-form-div">
    <fieldset>
        <legend>Създай отбор</legend>
        <fieldset>
            <label for="team-name">Име: </label>
            <input type="text" name="team-name" id="form-team-name">
        </fieldset>
        <fieldset>
            <label for="team-project">Проект: </label>
            <input type="text" name="team-project" id="form-team-project">
        </fieldset>
        <fieldset>
            <label for="team-project-description">Описание на проекта: </label>
            <textarea name="team-project-description" id="form-team-project-description"></textarea>
        </fieldset>
        <fieldset>
            <label for="team-technologies">Технологии, които ще ползвате: </label>
            <textarea type="text" name="team-technologies" id="form-team-technologies"></textarea>
        </fieldset>
        <button id="team-form-submit">Създай</button>
    </fieldset>
</div>
