<form class="" action="/admin/createNews" method="post">
    <input type="text" id="news-name" name="name" value="" placeholder="page name">
    <textarea id="news-content" name="content"></textarea>
    <button onclick="createNews()">Create news</button>
</form>
