<form class="" action="/admin/createPage" method="post">
    <input type="text" id="page-name" name="name" value="" placeholder="page name">
    <input type="text" id="page-href" name="href" value="" placeholder="page href">
    <textarea id="page-body" name="body"></textarea>
    <input type="checkbox" id="page-nav" name="nav">
    <button onclick="createPage()">Create page</button>
</form>
